.App {
  font-family: sans-serif;
  text-align: center;
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  text-align: left;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}
